.root {
  --bleed-amount: var(--page-padding-inline);

  position: relative;
  width: calc(100% + var(--bleed-amount) * 2);
  margin-inline: calc(var(--bleed-amount) * -1);
}

.root[data-full="true"] {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}

@media (max-width: 768px) {
  .root,
  .root[data-full="true"] {
    width: 100%;
    margin-inline: 0;
  }
}
