.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding-bottom: 128px;
}

.header .title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: -0.47px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
}

.search {
  display: flex;
  flex: 1 0 0;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  color: var(--gray-12);
  background: var(--gray-1);
  border-bottom: 1px solid var(--gray-4);
  transition: border-color 0.2s ease-in-out;
}

.search:focus-within {
  border-bottom: 1px solid var(--gray-12);
}

.search .icon {
  width: 18px;
  height: 18px;
  color: var(--gray-10);
}

.search .input {
  width: 100%;
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 24px; /* 150% */
  letter-spacing: -0.18px;
}

.search .input::-webkit-search-cancel-button {
  appearance: none;
}

.search .input::placeholder {
  color: var(--gray-8);
}

.search:focus-within .input {
  outline: none;
}

.card {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: all;
}

.list:has(.card:hover) .card {
  filter: opacity(0.2);
}

.list:has(.card:hover) .card:hover {
  filter: opacity(1);
}
