.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 128px 0;

  .title {
    font-family: var(--font-family-display);
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 24px;
    color: var(--gray-12);
    letter-spacing: -0.47px;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 64px;

  .menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .filters {
      display: flex;
      gap: 24px;
      align-items: center;

      .button {
        font-size: var(--size-medium);
        font-weight: var(--font-weight-medium);
        line-height: 24px;
        color: var(--gray-10);
        letter-spacing: var(--inter-letter-spacing-16px);
      }
    }
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 48px;
    column-gap: 48px;
    align-self: stretch;
    height: 528px;
  }
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 256px;
  padding: 8px 12px;
  color: var(--gray-10);
  background: var(--gray-1);
  border: 1px solid var(--gray-4);
  border-radius: 10px;

  .input {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
    letter-spacing: var(--inter-letter-spacing-16px);
  }
}

.page {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-self: stretch;
  height: 48px;
  font-family: var(--font-family-display);
  font-size: var(--size-medium);
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: -0.18px;

  .preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 48px;
  }

  .details {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;

    > span {
      font-family: var(--font-family-display);
      font-size: 14px;
      font-weight: var(--font-weight-normal);
      line-height: 24px;
      color: var(--gray-11);
      letter-spacing: -0.14px;
      white-space: nowrap;
    }

    .separator {
      width: 3px;
      height: 3px;
      aspect-ratio: 1 / 1;
      background: var(--gray-11);
      border-radius: 100px;
    }
  }
}
