.solid-drawing {
  --accent: var(--pink-9);
  --accent-muted: color-mix(in srgb, var(--pink-9) 20%, transparent);
  --complete: var(--sky-9);
  --surface: var(--gray-1);
  position: relative;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  width: 100%;
  height: 384px;
}

.globe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.globe-scene {
  rotate: -45deg;
  transform-style: preserve-3d;
  perspective: 100px;
  position: relative;
}

.globe-svg {
  width: 128px;
  height: 128px;
}

.orbit-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background: var(--surface);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.orbit-layer-back,
.orbit-layer-middle,
.orbit-layer-front {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.orbit-layer-back {
  z-index: 1;
  width: 24px;
  height: 24px;
  background: var(--surface);
}

.orbit-layer-middle {
  z-index: 2;
  width: 16px;
  height: 16px;
  background: var(--accent);
}

.orbit-layer-front {
  z-index: 3;
  width: 8px;
  height: 8px;
  background: var(--surface);
}

.orbit-marker[data-paused="true"] .orbit-layer-middle {
  background: var(--complete);
}

.toggle-button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 12px;
  font-size: 14px;
  color: var(--gray-11);
  cursor: pointer;
  user-select: none;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: all 0.2s ease;
}

.toggle-button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: var(--gray-2);
  border-radius: 8px;
  opacity: 0;
  scale: 0.98;
  transition: all 0.2s ease;
}

.toggle-button:hover {
  color: var(--gray-12);
}

.toggle-button:hover::before {
  opacity: 1;
  scale: 1;
}

.toggle-button:active {
  scale: 0.99;
}
