.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 256px;
  overflow: visible;
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 384px;
  height: 128px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-2);
}

.author {
  display: flex;
  align-items: center;

  margin-left: auto;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  color: var(--gray-12);
  white-space: nowrap;
}

.author::before {
  display: inline-block;
  width: 48px;
  height: 1px;
  margin-right: 0.5rem;
  content: "";
  background-color: var(--gray-8);
}

.quote {
  width: 100%;
  font-family: var(--font-family-serif);
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-12);
}
