.container {
  height: 384px;
}

.card {
  position: relative;
  display: grid;
  width: 256px;
  margin: 0;
}

.card[aria-expanded="true"] {
  visibility: hidden;
}

.card img {
  grid-area: 1 / 1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  box-shadow: var(--shadow-4);
  transition: transform 200ms ease;
}

.button {
  position: absolute;
  inset: 0;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

.dialog {
  max-width: min(500px, 90vw);
  padding: 0;
  margin: auto;
  overflow: hidden;
  cursor: zoom-out;
  outline: none;
  background: none;
  border: none;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 0.8);
}

.dialog .card {
  width: 100%;
}

.dialog .button {
  display: none;
}

/* biome-ignore lint/correctness/noUnknownTypeSelector: view transition pseudo-element */
::view-transition-group(card) {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
