.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.label {
  font-family: var(--font-mono);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-11);
}

.pillsContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  white-space: nowrap;
}

.pill {
  width: 60px;
  height: 40px;
  background: var(--gray-12);
  border-radius: 20px;
}
