.reader {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
  height: 384px;
  aspect-ratio: 5 / 3;
  padding: 16px;
  margin-top: var(--prose-block-spacing-large);
  overflow: hidden;
  background-color: var(--background-secondary, #222);
  border-radius: 12px;
}

.orb {
  position: absolute;
  inset: 0;
}

.controls {
  display: flex;
  gap: 4px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  font-family: var(--font-family-display);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  color: var(--white);
  letter-spacing: var(--inter-letter-spacing-14px);

  .slider {
    --height: 4px;
    display: flex;
    flex: 1 0 0;
    gap: 16px;
    align-items: center;
    width: 100%;
    margin-inline: 16px;

    .control {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      padding-block: 0.75rem;
      overflow: hidden;
      touch-action: none;
      user-select: none;
    }

    .track {
      width: 100%;
      height: var(--height);
      overflow: hidden;
      user-select: none;
      background: var(--white-a4);
      border-radius: 0.25rem;
      box-shadow: inset 0 0 0 1px var(--color-gray-200);
    }

    .indicator {
      user-select: none;
      background-color: var(--white-a12);
    }

    .time {
      font-variant-numeric: tabular-nums;
    }
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  aspect-ratio: 1 / 1;
  transition: all 0.2s;

  svg {
    width: 16px;
    height: 16px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 8px;
    scale: 0.8;
    transition: all 0.2s;
  }

  &:hover::before {
    background-color: var(--white-a4);
    scale: 1;
  }

  &:active {
    scale: 0.95;
  }
}

.floating {
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 256px;
  transform: translateX(-50%);

  .controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 48px;
    padding: 12px;
    background: var(--gray-a6);
    border-radius: 16px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-blend-mode: luminosity;
    backdrop-filter: blur(24px);
  }

  .background {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 256px;

    .blur {
      width: 100%;
      height: 100%;
      background: var(--gray-a1);
      backdrop-filter: blur(6px);
      mask-image: linear-gradient(to top, black 0%, transparent 100%);
    }
  }
}
