.controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  background: var(--gray-2);
  border-top: 1px solid var(--gray-4);
}

.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
