.container {
  --accent: var(--pink-9);
  --orbit-ring: color-mix(in srgb, var(--pink-9) 20%, transparent);
  --orbit-complete: var(--sky-9);
  --background: var(--gray-1);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 384px;
  background: var(--background);
}

.wrapper {
  rotate: -45deg;
  transform-style: preserve-3d;
  perspective: 100px;
  position: relative;
}

.globe {
  width: 128px;
  height: 128px;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background: var(--gray-1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 10s ease-in-out;
}

.bg,
.mg,
.fg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}

.bg {
  z-index: 1;
  width: 24px;
  height: 24px;
  background: var(--gray-1);
}

.mg {
  z-index: 2;
  width: 16px;
  height: 16px;
  background: var(--green-4);
}

.fg {
  z-index: 3;
  width: 8px;
  height: 8px;
  background: var(--gray-1);
}

.orbit[data-loaded="true"] .bg {
  background: var(--gray-1);
}

.orbit[data-loaded="true"] .mg {
  background: var(--purple-a4);
}

.orbit[data-loaded="true"] .fg {
  background: var(--gray-1);
}

.button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 12px;
  font-size: 14px;
  color: var(--gray-11);
  cursor: pointer;
  user-select: none;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: all 0.2s ease;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--gray-2);
  border-radius: 8px;
  opacity: 0;
  scale: 0.98;
  transition: all 0.2s ease;
}

.button:hover {
  color: var(--gray-12);
}

.button:hover::before {
  opacity: 1;
  scale: 1;
}

.button:active {
  scale: 0.99;
}
