.button {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  border-radius: 6px;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    transform 0.18s ease,
    box-shadow 0.2s ease;
}

.button:active {
  transform: scale(0.98);
}

.small {
  height: 28px;
  padding: 5px 8px;
  font-size: 13px;
  letter-spacing: var(--font-letter-spacing-13px);
}

.medium {
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: var(--font-letter-spacing-14px);
}

.large {
  height: 40px;
  padding: 8px 16px;
  font-size: 15px;
  letter-spacing: var(--font-letter-spacing-15px);
}

.primary {
  color: var(--gray-10);
  background: var(--gray-1);
  box-shadow: var(--shadow-2);
}

.primary:hover {
  color: var(--gray-a12);
  background: var(--gray-a3);
}

.secondary {
  color: var(--gray-11);
  background: var(--gray-a3);
}

.secondary:hover {
  color: var(--gray-12);
  background: var(--gray-a4);
}

.ghost {
  z-index: 1;
  color: var(--gray-10);
  background: transparent;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 0;
    content: "";
    background: var(--gray-a3);
    border-radius: inherit;
    opacity: 0;
    scale: 0.9;
    transition:
      opacity 0.2s ease,
      scale 0.2s ease;
  }
}

.ghost:hover {
  color: var(--gray-12);

  &::before {
    opacity: 1;
    scale: 1;
  }
}

.text {
  padding-inline: 0;
  color: var(--gray-10);
  background: transparent;
}

.text:hover {
  color: var(--gray-a12);
}

.square {
  aspect-ratio: 1;
  padding: 0;
}

.square.small {
  width: 28px;
}

.square.medium {
  width: 32px;
}

.square.large {
  width: 40px;
}

.radius-none {
  border-radius: 0;
}

.radius-small {
  border-radius: 4px;
}

.radius-medium {
  border-radius: 6px;
}

.radius-large {
  border-radius: 8px;
}

.radius-full {
  border-radius: 9999px;
}
