.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 10;
    content: "";
    background: linear-gradient(
      to bottom,
      black 20%,
      transparent 50%,
      black 90%
    );
  }
}
