.container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  isolation: isolate;
}

.container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 64px;
  pointer-events: none;
  content: "";
  background: linear-gradient(to bottom, var(--gray-1) 0, transparent 100%);
}

.container:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 64px;
  pointer-events: none;
  content: "";
  background: linear-gradient(to top, var(--gray-1) 0, transparent 100%);
}

.paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translate(-50%, -50%);
}

.text {
  width: 256px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-10);
  text-align: center;
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.image {
  z-index: 100;
  display: inline-flex;
  width: 300px;
  aspect-ratio: 16 / 9;
  color: var(--white-a12);
  cursor: pointer;
  object-fit: cover;
  background-color: var(--white-a12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--gray-4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: var(--black-a6);
}

.staging {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.staged {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 75%;
  transform: translate(-50%, -50%);
}
