.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.box {
  width: 100px;
  height: 100px;
  background: var(--gray-12);
  border-radius: 16px;
}
