.container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.pane {
  position: absolute;
  height: 128px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  background-color: var(--magnet-bg);
  border-radius: 8px;
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.25),
    0 0 0 1px var(--gray-4),
    0 47px 53px 0 rgba(0, 0, 0, 0.07),
    0 20px 22px 0 rgba(0, 0, 0, 0.05),
    0 10px 12px 0 rgba(0, 0, 0, 0.04),
    0 6px 7px 0 rgba(0, 0, 0, 0.04),
    0 3px 3.5px 0 rgba(0, 0, 0, 0.03),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.02);
  transform-origin: center;
  transition: background 0.2s ease;
}

.browser {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 171px;
  height: 128px;
  padding: 4px;
  background: var(--gray-3);
  border-radius: 4px;
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.25),
    0 0 0 1px var(--gray-4),
    0 47px 53px 0 rgba(0, 0, 0, 0.07),
    0 20px 22px 0 rgba(0, 0, 0, 0.05),
    0 10px 12px 0 rgba(0, 0, 0, 0.04),
    0 6px 7px 0 rgba(0, 0, 0, 0.04),
    0 3px 3.5px 0 rgba(0, 0, 0, 0.03),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.02);
}

.browser .tab-bar {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.browser .tab-bar .buttons {
  display: flex;
  gap: 3px;
  align-items: center;
  height: 14px;
  padding: 5px 5px 5px 3px;
}

.browser .tab-bar .buttons > :nth-child(1),
.browser .tab-bar .buttons > :nth-child(2),
.browser .tab-bar .buttons > :nth-child(3) {
  width: 5px;
  height: 5px;
  border-radius: 100px;
}

.browser .tab-bar .buttons > :nth-child(1) {
  background-color: var(--green-9);
}

.browser .tab-bar .buttons > :nth-child(2) {
  background-color: var(--amber-9);
}

.browser .tab-bar .buttons > :nth-child(3) {
  background-color: var(--red-9);
}

.browser .tab-bar .tab-container {
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 55px;
  height: 14px;
}

.browser .tab-bar .tab-container .tab {
  position: relative;
  display: flex;
  flex: 1 0 0;
  gap: 3px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  background: var(--gray-1);
  border-radius: 4px 4px 0 0;
}

.browser .tab-bar .tab-container .tab .edge:nth-child(1),
.browser .tab-bar .tab-container .tab .edge:nth-child(2) {
  position: absolute;
  bottom: -1px;
  color: var(--gray-1);
}

.browser .tab-bar .tab-container .tab .edge:nth-child(1) {
  right: -5px;
}

.browser .tab-bar .tab-container .tab .edge:nth-child(2) {
  left: -5px;
  transform: scaleX(-1);
}

.browser .window {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--gray-1);
  border-radius: 3px;
}
