[data-rs-select-trigger],
[data-rs-select-item],
[data-rs-select-group-label] {
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 32px;
}

[data-rs-select-trigger],
[data-rs-select-item] {
  justify-content: space-between;
}

[data-rs-select-trigger] {
  padding: 8px 12px;
  cursor: pointer;
  background: var(--white-a12);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  transition: background var(--duration-regular) var(--ease-in-out-cubic);
}

[data-rs-select-trigger]:hover,
[data-rs-select-trigger][data-popup-open],
[data-rs-select-trigger][data-pressed] {
  background: var(--background-secondary);
}

[data-rs-select-value] {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--gray-12);
}

[data-rs-select-positioner] {
  min-width: var(--anchor-width, 200px);
}

[data-rs-select-popup] {
  box-sizing: border-box;
  max-height: 300px;
  padding-block: 4px;
  overflow-y: auto;
  color: var(--color-gray-900);
  scrollbar-width: none;
  scroll-padding-block: 4px;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  background: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  box-shadow: var(--shadow-dropdown);
  transform-origin: var(--transform-origin);
  transition:
    opacity var(--duration-regular) var(--ease-in-out-cubic),
    transform var(--duration-regular) var(--ease-in-out-cubic); /* Firefox */
}

[data-rs-select-popup][data-starting-style],
[data-rs-select-popup][data-ending-style] {
  opacity: 0;
  transform: scale(0.95);
}

[data-rs-select-item] {
  padding: 0 10px;
  margin: 0 4px;
  font-size: 13px;
  font-weight: 450;
  color: var(--gray-11);
  letter-spacing: -0.04px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

[data-rs-select-item] [data-rs-select-item-text] {
  font: inherit;
}

[data-rs-select-item][data-selected],
[data-rs-select-item][data-highlighted] {
  font-weight: var(--font-weight-medium);
  color: var(--gray-12);
  outline: none;
  background: var(--background-secondary);
}

[data-rs-select-separator] {
  height: 1px;
  margin: 2px 0;
  background: hsl(0, 0%, 92%);
  border-radius: 6px;
}

[data-rs-select-group] {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

[data-rs-select-group-label] {
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 4px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--gray-10);
}

[data-rs-select-scroll-arrow] {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1rem;
  font-size: 0.75rem;
  text-align: center;
  cursor: default;
  background: canvas;
  border-radius: 0.375rem;

  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  &[data-direction="up"] {
    &::before {
      top: -100%;
    }
  }

  &[data-direction="down"] {
    bottom: 0;

    &::before {
      bottom: -100%;
    }
  }
}
