.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  height: 100%;
  padding: 32px;
  overflow: auto;
  background: var(--gray-1);
  border: 1px solid var(--gray-a6);
  border-radius: 8px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);

  ::selection {
    color: var(--gray-1);
    background-color: var(--gray-12);
  }
}
