.container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-secondary);
}

.noiseFilter {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.pane {
  position: absolute;
  height: 128px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  background-color: var(--magnet-bg);
  border-radius: 8px;
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.25),
    0 1px 0.5px 0 rgba(255, 255, 255, 0.6) inset,
    0 47px 53px 0 rgba(0, 0, 0, 0.07),
    0 19.635px 22.142px 0 rgba(0, 0, 0, 0.05),
    0 10.498px 11.838px 0 rgba(0, 0, 0, 0.04),
    0 5.885px 6.636px 0 rgba(0, 0, 0, 0.04),
    0 3.126px 3.525px 0 rgba(0, 0, 0, 0.03),
    0 1.301px 1.467px 0 rgba(0, 0, 0, 0.02);
  transform-origin: center;
  transition: background 0.2s ease;
}

.pane.magnetizedActive {
  background: oklch(95.151% 0.01683 236.906);
}

.dia {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  cursor: grabbing;
  background: rgba(235, 235, 235, 0.82);
  border-radius: 4px;
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.25),
    0 1px 0.5px 0 rgba(255, 255, 255, 0.6) inset,
    0 47px 53px 0 rgba(0, 0, 0, 0.07),
    0 19.635px 22.142px 0 rgba(0, 0, 0, 0.05),
    0 10.498px 11.838px 0 rgba(0, 0, 0, 0.04),
    0 5.885px 6.636px 0 rgba(0, 0, 0, 0.04),
    0 3.126px 3.525px 0 rgba(0, 0, 0, 0.03),
    0 1.301px 1.467px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(20px);
}

.pane[data-active="true"] {
  background-color: #e5f1f9;
}
