.root {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--page-navigation-height);
  background: linear-gradient(to bottom, var(--gray-2), transparent 75%);
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-50%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-max-width);
  padding: 0 24px;
  padding-block: 32px;
  margin: 0 auto;
}

.logo,
.trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  color: var(--gray-8);
}

.logo {
  font-family: var(--font-family-serif);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  text-align: center;
}

.logo::before,
.trigger::before {
  position: absolute;
  inset: 0;
  content: "";
  background: var(--gray-a4);
  border-radius: 6px;
  opacity: 0;
  scale: 0.8;
  transition: all 0.2s;
}

.logo:hover,
.trigger:hover {
  color: var(--gray-12);
}

.logo:hover::before,
.trigger:hover::before {
  color: var(--gray-12);
  opacity: 1;
  scale: 1;
}

.list {
  display: flex;
  gap: 12px;
  align-items: center;
  list-style: none;
}
