.root {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--page-navigation-height);
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--gray-2) 100%, transparent) 25%,
    color-mix(in srgb, var(--gray-2) 0%, transparent) 100%
  );
  transform: translateX(-50%);

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-max-width);
  padding: 0 24px;
  padding-block: 32px;
  margin: 0 auto;
}

.logo,
.link {
  position: relative;
  line-height: 24px;
  color: var(--gray-8);
  cursor: pointer;
  transition: all 0.2s ease;
}

.logo {
  font-family: var(--font-family-serif);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.link {
  display: flex;
  font-family: var(--font-family-display);
  font-size: 14px;
  letter-spacing: var(--font-letter-spacing-14px);
}

.logo:hover,
.link:hover {
  color: var(--gray-12);
}

.list {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
}
