.root {
  height: 384px;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 2147483647;
  background-color: var(--gray-1);
  opacity: 0.9;
  transition: all 0.2s ease;
}

.backdrop[data-starting-style],
.backdrop[data-ending-style] {
  opacity: 0;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 2147483647;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: auto;
  pointer-events: none;
}

.popup > * {
  pointer-events: auto;
}

.sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.wallet {
  --offset: 16px;

  position: relative;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 3 / 1.8;
  padding: var(--offset);
  border-radius: 20px;
  transition: background 0.2s ease;
}

.wallet:focus {
  outline: none;
  box-shadow: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.column:nth-child(2) {
  align-items: flex-end;
}

.icon {
  display: flex;
  width: 30px;
  height: 30px;
}

.shape {
  fill: var(--white-a12);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.text {
  display: flex;
  margin: 0;
  font-size: 16px;
  letter-spacing: var(--font-letter-spacing-16px);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  white-space: nowrap;
  field-sizing: content;
  color: unset;
  will-change: filter;
}

.text[data-text="primary"] {
  color: var(--white-a12);
}

.text[data-text="secondary"] {
  color: var(--white-a8);
}

.text::selection {
  background: var(--white-a4);
}

.text:focus {
  outline: none;
}

.text::placeholder {
  color: var(--white-a6);
}

.options {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  padding: 4px;
  color: var(--white-a10);
  cursor: pointer;
  background: var(--white-a4);
  border-radius: 100%;
}

.options:focus {
  outline: none;
  box-shadow: none;
}

.copy {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copy:focus {
  outline: none;
  box-shadow: none;
}

.symbol {
  width: 16px;
  height: 16px;
  color: var(--white-a8);
}

.customize {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
  padding: 0 16px;
  color: unset;
  cursor: pointer;
  background: var(--white-a4);
  border-radius: 16px;
}

.picker {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px;
  background: transparent;
  border-radius: 16px;
}

.swatch {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.color::before {
  position: absolute;
  inset: 4px;
  content: "";
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px var(--white-a12);
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease;
}

.color[data-selected="true"]::before {
  opacity: 1;
  transform: scale(1);
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-letter-spacing-14px);
  line-height: normal;
  white-space: nowrap;
  field-sizing: content;
  color: var(--white-a12);
  cursor: pointer;
  border-radius: 16px;
  will-change: filter;
}
