:root,
.light,
.light-theme {
  --gray-1: #fdfdfd;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e1e1e1;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8c8c8c;
  --gray-10: #828282;
  --gray-11: #626262;
  --gray-12: #202020;

  --gray-a1: #00000002;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001e;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000073;
  --gray-a10: #0000007d;
  --gray-a11: #0000009d;
  --gray-a12: #000000df;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8c8c8c;
  --gray-track: #8c8c8c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.4% 0 none);
      --gray-2: oklch(98.2% 0 none);
      --gray-3: oklch(95.6% 0 none);
      --gray-4: oklch(93.2% 0 none);
      --gray-5: oklch(91% 0 none);
      --gray-6: oklch(88.6% 0 none);
      --gray-7: oklch(85.3% 0 none);
      --gray-8: oklch(79.2% 0 none);
      --gray-9: oklch(64.1% 0 none);
      --gray-10: oklch(60.6% 0 none);
      --gray-11: oklch(49.8% 0 none);
      --gray-12: oklch(24.3% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0.0078);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0588);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1176);
      --gray-a6: color(display-p3 0 0 0 / 0.149);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.451);
      --gray-a10: color(display-p3 0 0 0 / 0.4902);
      --gray-a11: color(display-p3 0 0 0 / 0.6157);
      --gray-a12: color(display-p3 0 0 0 / 0.8745);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.1% 0 none);
      --gray-track: oklch(64.1% 0 none);
    }
  }
}
