.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    background: linear-gradient(to bottom, transparent 75%, var(--gray-1) 100%);
  }
}

.refresh {
  position: absolute;
  top: 16px;
  left: 50%;
  display: flex;
  color: var(--gray-a8);
  transform: translateX(-50%);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: center;
  width: 384px;
  height: 400px;
}

.card {
  display: flex;
  gap: 16px;
  align-items: center;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: currentcolor;
  border-radius: 100%;
}

.icon {
  width: 32px;
  height: 32px;
  color: color-mix(in srgb, currentcolor 20%, white);
}

.skeleton {
  display: block;
  height: 24px;
  background: var(--gray-3);
  border-radius: 100px;
}
