.slider {
  --height: 4px;
  display: flex;
  flex: 1 0 0;
  gap: 16px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 0.75rem;
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

.track {
  position: relative;
  flex: 1 0 0;
  height: var(--height);
  overflow: hidden;
  user-select: none;
  background: var(--white-a4);
  border-radius: 0.25rem;
}

.indicator {
  height: 100%;
  user-select: none;
  background: var(--white-a10);
}

.thumb {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--white-a12);
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 8px,
    rgba(0, 0, 0, 0.05) 0px 2px 2px;
  transform: translateY(-4px);
}

.thumb[data-focus-visible] {
  outline: none;
  box-shadow: 0 0 0 2px var(--white-a6);
}

.time {
  z-index: 1;
  font-variant-numeric: tabular-nums;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  aspect-ratio: 1 / 1;
  font-variant-numeric: tabular-nums;
  border-radius: 8px;
  transition: all 0.2s;
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--white-a4);
}

.button svg {
  width: 16px;
  height: 16px;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 8px;
  scale: 0.8;
  transition: all 0.2s;
}

.button:hover::before,
.button[data-popup-open]::before,
.button[data-pressed]::before {
  background: var(--white-a4);
  scale: 1;
}

.button:active {
  scale: 0.95;
}

.speed {
  display: flex;
  gap: 0.5px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-family: var(--font-family-display);
  font-size: 12px;
  font-weight: var(--font-weight-medium, 500);
  line-height: 24px;
  color: var(--gray-a10, rgba(0, 0, 0, 0.49));
  letter-spacing: -0.09px;
  border-radius: 8px;
}

.speed svg {
  width: 6px;
  height: 7px;
}
