.reader {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: 32px 24px;
}

.controls {
  z-index: 10;
  display: flex;
  gap: 4px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  color: var(--white-a12);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.details {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}

.details .cover {
  position: relative;
  width: 40px;
  height: 40px;
}

.details .cover .orb,
.details .cover .glow {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
}

.details .cover .orb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.details .cover .glow {
  position: absolute;
  width: 105%;
  height: 105%;
  aspect-ratio: 1 / 1;
  filter: blur(6px);
}

.details .cover .orb .canvas,
.details .cover .glow .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.details .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.details .info .title {
  font-family: var(--font-family-display, Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 100%; /* 14px */
  color: var(--gray-a10);
  text-align: center;
  letter-spacing: -0.09px;
}

.details .info .author {
  font-family: var(--font-family-display, Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 100%; /* 14px */
  color: var(--gray-a8);
  text-align: center;
  letter-spacing: -0.09px;
}

.details .voice {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: auto;
  border-radius: 8px;
}

.actions {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}

.actions .left,
.actions .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions .center {
  display: flex;
  gap: 16px;
  align-items: center;
}
