.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 384px;
}

.visualization {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-11);
  text-align: center;
  letter-spacing: var(--font-letter-spacing-14px);
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  background: color-mix(in srgb, currentcolor 20%, transparent);
  border-radius: 100px;
  transform: translate(-50%, -50%);
}

.scale {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--family-blue);
  border-radius: 24px;
}

.ball {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: currentColor;
  border-radius: 50%;
}
