.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding-block-start: 256px;
  padding-block-end: 128px;
}

.header .title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: -0.47px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 64px;
}

.toolbar {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
}

.list.row {
  gap: 8px;
}

.search {
  display: flex;
  flex: 1 0 0;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  color: var(--gray-12);
}

.search .icon {
  width: 18px;
  height: 18px;
  color: var(--gray-10);
}

.search .input {
  width: 100%;
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  letter-spacing: var(--font-letter-spacing-16px);
}

.search .input::-webkit-search-cancel-button {
  appearance: none;
}

.search .input::placeholder {
  color: var(--gray-8);
}

.search:focus-within .input {
  outline: none;
}

.toggle {
  display: flex;
  gap: 4px;
  align-items: center;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  color: var(--gray-8);
  border-radius: 6px;
  transition: color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .view:hover {
    color: var(--gray-10);
  }
}

.view[data-pressed] {
  color: var(--gray-12);
}

.post {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: filter;
}

.list.card .post [data-post-link] {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
}

.list.card .post .details {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}

.list.card .post [data-post-title] {
  font-family: var(--font-family-display);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: var(--font-letter-spacing-16px);
  transition: all 0.2s ease;
}

.list.card .post [data-post-meta] {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list.card .post [data-post-meta] > span {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-10);
  letter-spacing: var(--font-letter-spacing-14px);
  transition: all 0.2s ease;
}

.list.card .post [data-post-description] {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-10);
  letter-spacing: var(--font-letter-spacing-14px);
  transition: all 0.2s ease;
}

.list.card .post:hover [data-post-title],
.list.card .post:hover [data-post-meta] > span,
.list.card .post:hover [data-post-description] {
  color: var(--gray-12);
}

.list.row .post [data-post-link] {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  letter-spacing: var(--font-letter-spacing-14px);
  transition: color 0.2s ease;
}

.list.row .post [data-post-date]:first-child {
  flex-shrink: 0;
  width: 48px;
  font-variant-numeric: tabular-nums;
  color: var(--gray-10);
  transition: color 0.2s ease;
}

.list.row .post [data-post-title] {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray-12);
  white-space: nowrap;
  transition: color 0.2s ease;
}

.list.row .post [data-post-date]:last-child {
  flex-shrink: 0;
  color: var(--gray-10);
  transition: color 0.2s ease;
}

.list.row .post:hover [data-post-date],
.list.row .post:hover [data-post-title] {
  color: var(--gray-12);
}

.list.row .post [data-post-divider] {
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background: var(--gray-4);

  border: none;
}

.list.row .post:last-child [data-post-divider] {
  display: none;
}
