.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: calc(var(--prose-block-spacing) * 3);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: var(--gray-12);
  letter-spacing: var(--font-inter-letter-spacing-24px);
}

.meta {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.meta {
  font-size: 15px;
  font-weight: 450;
  line-height: 150%;
  color: var(--gray-11);
  letter-spacing: var(--font-inter-letter-spacing-15px);
}

.authors {
  color: var(--gray-12);
}

.separator {
  width: 24px;
  text-align: center;
}

.avatar {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: 11px;
  font-weight: 600;
  color: var(--gray-1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: var(--gray-4);
  border-radius: 999px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
