@import url(./theme/index.css);

:root {
  --background-primary: var(--gray-1);
  --background-secondary: var(--gray-2);
  --font-interactive-primary: var(--gray-3);
  --font-interactive-secondary: var(--gray-4);
  --font-interactive-tertiary: var(--gray-5);
  --border-primary: var(--gray-6);
  --border-secondary: var(--gray-7);
  --border-tertiary: var(--gray-8);
  --solid-primary: var(--gray-9);
  --solid-secondary: var(--gray-10);

  --foreground-primary: var(--gray-12);
  --foreground-secondary: var(--gray-11);
  --foreground-tertiary: var(--gray-10);

  --color-accent: var(--gray-12);
  --color-link: var(--color-accent);
  --prose-block-spacing: 16px;
  --prose-block-spacing-large: 22px;
  --prose-block-spacing-small: 6px;
  --prose-block-radius: 6px;
  --prose-block-menu-size: 20px;
  --prose-block-menu-offset: 28px;
  --prose-list-inset: 24px;
  --prose-bullet-disc-width: 8px;
  --prose-bullet-disc-offset: 8px;
  --page-padding-inline: 24px;
  --page-padding-block: 64px;
  --page-padding-left: max(
    env(safe-area-inset-left),
    var(--page-padding-inline)
  );
  --page-padding-right: max(
    env(safe-area-inset-right),
    var(--page-padding-inline)
  );
  --page-max-width: 640px;
  --prose-max-width: 640px;
}

html {
  scrollbar-width: none;

  ::selection {
    color: var(--gray-1);
    background-color: var(--gray-12);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  padding-top: 256px;
  font-family: var(--font-family-display);
  color: var(--gray-12);
  text-wrap: pretty;
  background-color: var(--gray-1);
}
