@import url(./theme/reset.css);
@import url(./theme/typography.css);
@import url(./theme/colors/light.css);
@import url(./theme/colors/dark.css);

:root {
  --radius-min: 2px;
  --radius-tiny: 4px;
  --radius-small: 6px;
  --radius-medium: 8px;
  --radius-large: 12px;
  --radius-full: 128px;

  --background-primary: var(--gray-1);
  --background-secondary: var(--gray-2);

  --interactive-primary: var(--gray-3);
  --interactive-secondary: var(--gray-4);
  --interactive-tertiary: var(--gray-5);

  --border-primary: var(--gray-6);
  --border-secondary: var(--gray-7);
  --border-tertiary: var(--gray-8);

  --solid-primary: var(--gray-9);
  --solid-secondary: var(--gray-10);

  --foreground-secondary: var(--gray-11);
  --foreground-primary: var(--gray-12);
}

html,
body {
  color: var(--gray-12);
  text-wrap: pretty;
  background-color: var(--gray-1);
}
