.container {
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 64px;
    pointer-events: none;
    content: "";
    background: linear-gradient(to top, var(--gray-1) 0, transparent 100%);
  }
}

.hint {
  position: absolute;
  top: 32px;
  left: 50%;
  font-size: 12px;
  color: var(--gray-8);
  letter-spacing: var(--font-inter-letter-spacing-12px);
  transform: translateX(-50%);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 180px;
  overflow: hidden;
  background: var(--gray-2);
  border: 1px solid var(--gray-4);
  border-radius: 12px;
}

.card .swatch {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--gray-3);
}

.card .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline: 12px;
  padding-bottom: 12px;
}

.card .info :where(.title, .tcx, .name) {
  font-size: 14px;
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.card .info .title {
  font-weight: var(--font-weight-semibold);
  color: var(--gray-12);
}

.card .info .tcx {
  color: var(--gray-10);
}

.card .info .name {
  font-weight: var(--font-weight-medium);
  color: var(--gray-11);
}
