.root {
  height: 128px;
}
.wrapper {
  position: relative;
  display: flex;
  width: fit-content;
}

.list {
  display: flex;
  gap: 8px;
}

.tab {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding-inline: 16px;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  color: var(--sky-9);
  letter-spacing: var(--font-letter-spacing-16px);
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  border-radius: 100px;
}

.overlay .tab {
  color: var(--gray-1);
}

.indicator {
  position: absolute;
  inset-block: 0;
  pointer-events: none;
  background: var(--sky-9);
  border-radius: 100px;
  transition:
    left 200ms,
    width 200ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  gap: 8px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
