.trigger {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 8px;
  font-size: 14px;
  color: var(--gray-8);
  cursor: pointer;
  user-select: none;
  background: color-mix(in srgb, var(--hex) 10%, transparent);
  border-radius: 8px;
  transition: background 0.2s ease;
}

.trigger:hover,
.trigger:active,
.trigger[data-popup-open] {
  background: color-mix(in srgb, var(--hex) 30%, transparent);
}

.trigger:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.trigger .swatch {
  width: 18px;
  height: 18px;
  background-color: var(--hex);
  border-radius: 4px;
}

.trigger .label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-12);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.popup {
  position: relative;
  padding-block: 12px;
  padding-inline: 16px;
  background-color: var(--gray-1);
  border-radius: 8px;
  box-shadow:
    lch(0 0 0 / 0.188) 0px 6px 18px,
    lch(0 0 0 / 0.188) 0px 3px 9px,
    var(--gray-4) 0px 0px 0px 1px;
  transform-origin: var(--transform-origin);
  transition: all 0.2s ease;
}

.popup[data-animation-state="sluggish"] {
  transition: all 800ms ease;
}

.popup[data-animation-state="snappy"] {
  transition: all 120ms ease;
}

.popup[data-starting-style],
.popup[data-ending-style] {
  opacity: 0;
  transform: scale(0.95);
}

.popup .title {
  display: flex;
  align-items: center;
}

.popup .title .swatch {
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--hex);
  border-radius: 100px;
}

.popup .title {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.popup .title .text .name {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-11);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.popup .divider {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background-color: var(--gray-4);
}

.popup .description {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 16px;
  font-size: 14px;
  color: var(--gray-11);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.popup .description span:nth-child(2n + 1) {
  font-weight: var(--font-weight-medium);
  color: var(--gray-9);
  text-transform: uppercase;
}

.popup .description span:nth-child(2n) {
  font-weight: var(--font-weight-medium);
  color: var(--gray-12);
  text-transform: uppercase;
}

.button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--gray-8);
  cursor: pointer;
  user-select: none;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: all 0.2s ease;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--gray-4);
  border-radius: 8px;
  opacity: 0;
  transform: scale(0.97);
  transition: all 0.2s ease;
}

.button:hover {
  color: var(--gray-12);
}

.button:hover:before {
  opacity: 1;
  transform: scale(1);
}

.button:active {
  transform: translateX(-50%) scale(0.97);
}
